name: Data Source

on: workflow_dispatch

jobs:
  api-test:
    runs-on: ubuntu-latest
    if: github.repository == 'gautemo/covid19-timeline'

    steps:
    - uses: actions/checkout@v2
    - name: Fetch Data to File
      uses: gautemo/fetch-api-data-action@1.1.0
      with:
        url: 'https://europe-west1-covid-19-map-spread.cloudfunctions.net/getCovidData'
        file: 'src/api/backupData.json'
    - name: Commit file to repo
      continue-on-error: true
      run: |
        git status
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "GitHub Action, daily backup of API data" -a
        git push https://gautemo:${{ secrets.MY_GITHUB_TOKEN }}@github.com/gautemo/covid19-timeline.git
